:root
{
    color: #333;
    background-color: #ecf0f1;
}

title
{
    color: #3498db;
    font-size: 24pt;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc; 
    margin: 20px; 
    padding-left: 20px; 
}

img
{
    margin: auto;
    display: block;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1; 
    margin: 0;
    padding: 20px;
    color: #333;
    font-size: 14pt;
    text-align: center;
}

p {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1; 
    margin: 0;
    color: #333;
    font-size: 14pt;
    text-align: center;
}

h1 {
    color: #3498db; 
    text-decoration: underline;
    font-size: 24pt;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #2280be; 
    font-size: 20pt;
    text-align: center;
}

h3 {
    color: #145e90; 
    font-size: 14pt;
    text-align: center;
}

img {
    align-items: left;
}

a {
    text-decoration: none;
    color: #1e7dbc; 
}
section
{
    margin: 5px;
    margin-top: 50px;
}
a:hover {
    text-decoration: underline;
}
div {
    align-content: center;
}
.footertext  {
    display: block;
    margin-top: 200px;
    text-align: center;
}